.gameContainer {
    display: flex;
    flex-direction: column;
}

button {
    width: 30px;
    height: 30px; 
}

.analyzeButton {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 40px;
}